/* body {
  margin: 10% 10% 10% 10%;
}

img {
  width: 250px;
  height: 350px;
}
a {
  display: flex;
  padding-top: 5%;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
} */
