.containerMovieDetails {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5% 20%;
}

#imgCards {
  position: absolute;
  height: 435px;
  width: 290px;
  border-radius: 7px;
  border: 1px solid #d9d7e0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.containerMovieDetailsRight {
  padding-left: 40%;
  color: #d9d7e0;
}

.stars {
  margin-top: 35px;
  margin-bottom: 35px;
}

#cast {
  width: 429px;
  height: 151px;
}
