.containerMovieDetails {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  /* padding: 5% 20%; */
  padding-right: 20%;
  padding-left: 20%;
  margin-top: 5%;
}

#imgCards {
  position: absolute;
  height: 435px;
  width: 290px;
  border-radius: 7px;
  border: 1px solid #d9d7e0;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.containerMovieDetailsRight {
  padding-left: 40%;
  color: #d9d7e0;
}

.stars {
  margin-top: 35px;
  margin-bottom: 35px;
}

#cast {
  width: 429px;
  height: 151px;
}

.containerMovieDetailsRight button {
  border: none;
  margin-left: 1.5%;
}

.btnFav {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 20%;
  padding-right: 20%;
  flex-wrap: wrap;
}
.btnCart {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 20%;
  padding-right: 20%;
  flex-wrap: wrap;
  padding-top: 0.5%;
}

#heart {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  width: 290px;
  height: 45px;
  padding-left: 1%;
  text-align: center;
  color: #d9d7e0;
}

.btnNone {
  border: none;
}
