* {
  background-color: #100e19;
  max-width: 100%;
}

.container {
  max-width: 100%;
  position: absolute;
  left: 12%;
  width: 80%;
  background-color: rgba(240, 248, 255, 0);
}

video {
  display: flex;
  align-items: center !important;
  justify-content: space-around !important;
  width: 95%;
  height: 20%;
  margin-left: 0.5%;
  margin-top: 3% !important;
  /* margin-left: 5%;
  margin-right: 5% !important; */

  /* padding-top:  !important; */
  border-radius: 40px;
  border: 1px solid #d9d7e0;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-dark);
  }
}

.cards {
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: center;
  margin-left: 1%;
  margin-right: 6%;
}

/* #cardId {
  width: 200px;
  height: 300px;
} */
.cardImage {
  display: flex;
  width: 250px;
  height: 450px;
  /* padding-top: 70px; */

  display: grid;
  place-items: center;
  grid-template-areas: "main";

  overflow: hidden;
  cursor: pointer;
  text-decoration: none;
}

.cardImage > * {
  grid-area: main;
}

.cardImage > .image {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 20px;

  transition: transform 400ms, filter 400ms;
}

.cardImage > .text {
  opacity: 0;
  color: white;
  font-size: 1.8em;
  background-color: #100e1900;
  border-radius: 20px;

  transition: opacity 400ms, transform 400ms;
}

.cardImage:is(:hover, :focus) > .image {
  transform: scale(1.2);
  filter: brightness(0.4);
}

.cardImage:is(:hover, :focus) > .text {
  transform: scale(1.2);
  opacity: 1;
}
