video {
  display: flex;
  align-items: center !important;
  justify-content: space-around !important;
  width: 90%;
  height: 20%;
  margin-top: 0 !important;
  margin-left: 5%;
  margin-right: 5% !important;

  /* padding-top:  !important; */
  border-radius: 40px;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-dark);
  }
}
