#footer {
  max-width: 80%;
  position: absolute;
  justify-content: space-between;
  margin-top: 60%;
}
.footer__text {
  display: flex;
  justify-content: space-between;
}

.footer__text {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}
.lead {
  display: flex;

  display: inline-block;
  margin-left: 20px;
}
.lead1 {
  display: flex;

  display: inline-block;
  justify-content: space-around;
}

.logo {
  margin-left: 20px;
}

.footer__text {
  margin-left: -14%;
  margin-right: -15%;
}
